In [1]:
# python code to demonstrate namedtuple()
from collections import namedtuple

In [2]:
# Declaring namedtuple()
Student = namedtuple('Student',['name','age','DOB'])

In [3]:
# Adding Values

S = Student('Nandini','19','2541997')

In [4]:
# Acess using index
print("The Student age using index is :",end ="")
print(S[1])

The Student age using index is :19

In [5]:
# Access using name
print("The Student name using keyname is :",end ="")
print(S.name)

The Student name using keyname is :Nandini