## Using the .zeros() Method

In [1]:
import numpy as np
nl=np.zeros((5,5))
nl

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [2]:
import pandas as pd
data=["1",2,"three",4.0]

series=pd.Series(data)
print(series)
print(type(series))

0        1
1        2
2    three
3        4
dtype: object
<class 'pandas.core.series.Series'>

# pandas groupby

In [8]:
import pandas as pd
df = pd.DataFrame({'Vehicle':['Etios','Lamborghini','Apache200','Pulsar200'], 'Type':["car","car","motorcycle","motorcycle"]})
df

       Vehicle        Type
0        Etios         car
1  Lamborghini         car
2    Apache200  motorcycle
3    Pulsar200  motorcycle

In [9]:
df.groupby('Type').count()

            Vehicle
Type
car               2
motorcycle        2

In [12]:
# cteate a data frame from lists
# cteate an empty data frame
# add lists as individuals columns to the list

df=pd.DataFrame()

bikes=["bajaj","tvs","herohonda","kawasaki","bmw"]
cars=["lamborghini","masserati","ferrari","hyundai","ford"]
df["cars"]=cars
df["cars"]=bikes

df

        cars
0      bajaj
1        tvs
2  herohonda
3   kawasaki
4        bmw

In [ ]:
#